
<div class="header-sections list-header" role="main"><h2 id="{ISSUE_CATEGORY_TITLE}" class="results-title">{ISSUE_CATEGORY_TITLE}</h2></div>
<div class="issues-of-one-category" role="main">
  <table summary="{ISSUE_CATEGORY_TITLE}">
    <thead>
      <tr class="results">
        <th class="col2thru12">id</th>
        <th class="col2thru12">title</th>
        <th class="col2thru12">cost</th>
        <th class="col2thru12">severity</th>
        <th class="col2thru12">solutionText</th>
      </tr>
    </thead>
    <tbody>
      {ISSUES_TABLE_BODY}
    </tbody>
  </table>
</div>
